body {background-color: rgb(164, 0, 143)
}

.p1 {font-size: 200%;
    text-align:center;
    background-color: rgb(140, 0, 0);
    border-color: yellow;
    border-width: 5px;
    border-style:dashed;
    margin-left: 10%;
    margin-right: 50%;
    margin-top: 5%;
    padding-left: 20%;
    border-right-color: orange 9px;
   

}
.p2 {font-size: 200%;
    text-align:left;
    background-color: light rgb(167, 21, 43);
    border-color: rgb(227, 26, 56);
    border-width: 5px;
    border-style: dotted;
    margin-left: 50%;
    margin-right: 10%;
    padding-left: 10%;
  
}
.p3 {font-size: 200%;
    text-align:right;
    background-color:rgb(236, 116, 222);
    border-width: 6px;
    border-color: purple;
    border-radius: 50%; 
    border-style: ridge;
} 
.p4 {background-color: rgb(255, 238, 0);
    color: rgb(0, 0, 0); 
    font-size: 200%; 
    text-align: center; 

    border-color: rgb(255, 191, 0); 
    border-width: 5px; 
    border-style: solid;

    margin-left: 50%;
    margin-right: 10%;
    margin-top: 5%;
}
  .div1a {
    border-image: urL('borda.jpg') 15 / 15px round;
  }
  .div1b {
    border-image: url('borda.jpg') 15 / 15px repeat;
  }
  .div1c {
    border-image: url('borda.jpg') 15 / 15px stretch;
  }
  .div1d {
    border-image: url('borda.jpg') 15 / 15px  round  stretch;
  }
  .div1e {
    border-image: url('borda.jpg') 15 / 15px stretch  round ;
  }