body {background-color: rgb(164, 0, 143)
}

.p1 {font-size: 200%;
    text-align:center;
    background-color: white;
    border-color: yellow;
    border-width: 6px;
    border-style: double;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 10%;
   

}
.p2 {font-size: 150%;
    text-align:center;
    background-color: light rgb(167, 21, 43);
    border-color: rgb(227, 26, 56);
    border-width: 6px;
    border-style: dotted;
    margin-left: 1%;
    margin-right: 20%;
    padding-left: 10%;
  
}
.p3 {font-size: 170%;
    text-align:center;
    background-color:rgb(236, 116, 222);
    border-color: purple;
    border-radius: 50%; 
    border-style: ridge;

   
  

}
.p4 {
    width: 300px;
  
    border-top: 3px solid #1E90FF;
    border-left: 3px solid #1E90FF;
    position: relative;
    background: yellow;
    
    padding: 20px;
    font-family: monospace
  }
  
  .p4:before {
    content: " ";
    position: absolute;
    width: 2px;
    height: calc(100% - 80px);
    left: -3px;
    bottom: 0;
    border-left: 1px solid #CCCCCC;
    background: white;
  }
  
  .p4:after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 30px;
    left: -2px;
    top: 100px;
    background: #CCCCCC;
  }

  .div1a {
    border-image: url('borboleta1') 15 / 15px round;
  }
  .div1b {
    border-image: url('borboleta1') 15 / 15px repeat;
  }
  .div1c {
    border-image: url('borboleta1') 15 / 15px stretch;
  }
  .div1d {
    border-image: url('borboleta1') 15 / 15px  round  stretch;
  }
  .div1e {
    border-image: url('borboleta1') 15 / 15px stretch  round ;
  }